<template name="floor_new_form">
    {{#autoForm schema="Floors" id="floor-new-floor" validation=submit novalidate=""}}
        <fieldset>
            <legend>Create a new floor</legend>

            <div class="control-group{{#if afFieldIsInvalid 'title'}} error{{/if}}">
                {{afFieldLabel 'title'}}
                {{afFieldInput 'title'}}
                {{#if afFieldIsInvalid 'title'}}
                    <span class="help-block">{{afFieldMessage 'title'}}</span>
                {{/if}}
            </div>

            <div class="control-group{{#if afFieldIsInvalid 'description'}} error{{/if}}">
                {{afFieldLabel 'description'}}
                {{afFieldInput 'description' rows="2"}}
                {{#if afFieldIsInvalid 'description'}}
                    <span class="help-block">{{afFieldMessage 'description'}}</span>
                {{/if}}
            </div>

            {{afQuickField "isPublic" radio="true"
            trueLabel="Visible to everyone" falseLabel="Only you can see it"}}

            <button type="submit" class="btn btn-primary insert">Create floor</button>

        </fieldset>
    {{/autoForm}}
</template>