<template name="floor_show">
    <div class="floor-container">

        <div class="page-header">

            <span class="label">
                {{#if isPublic}}
                    <i class="icon icon-globe icon-white"/> Public
                {{else}}
                    <i class="icon icon-lock icon-white"/> Private
                {{/if}}
            </span>

            {{description}}

            {{#if ownCurrentFloor}}
                <button class="btn btn-small pull-right edit">
                    <i class="icon-edit"/> edit floor
                </button>
            {{/if}}
            
        </div>

        <div class="row-fluid">
            <ul class="thumbnails">
                {{#each tiles}}
                    {{> tile_list_item}}
                {{/each}}
            
            {{#if ownCurrentFloor}}
                <li class="thumbnail">
                    <a href="{{pathFor 'newTileForFloor' this}}">
                        <img data-src="holder.js/200x200">
                        <div class="caption">+ add new tile</div>
                    </a>
                </li>
            {{/if}}
            </ul>
        </div>

    </div>
</template>