<template name="tile_form">
	<form>

		<div class="control-group">
    		<label class="control-label" for="title">Tile title</label>
    		<div class="controls">
        		<input type="text" name="title"/>
        	</div>
        </div>

		<div class="control-group">
    		<label class="control-label" for="url">url</label>
    		<div class="controls">
        		<input type="url" name="url"/>
        	</div>
        </div>

        <div class="control-group">
            <input type="submit" value="save" class="btn btn-primary"/>
        </div>
        
	</form>
</template>